@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:ital@1&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
    color: #000000;
}

body{ 
    text-align: left;
    display:flex;
    align-items: flex-start;
    justify-content: center;  
    background: linear-gradient(135deg , #71b7e6, #9b59b6);
}

div.container{ 
    /* width:clamp(450px, 80%, 800px);
    /* max-width: 70px; */
     background: rgb(255, 255, 255); 
     width:85%;
    margin-top:3%;
    border-radius: 10px;
    padding:2%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}

.genderTag
{
 display: flex;
 justify-content: flex-start;
}
.user label{
    padding:12px 12px 10px 0;
    display: inline-block;
    font-size:18px;
    font-weight: bold;

}
input[type="email" ]{
    width : 100%;
    height: 4%
}
input[type="text" ]{
    width : 100%;
    height: 4%
}
select{
    width : 100%;
    height: 4%
}
button[value="clear"]:hover{

    background-color: rgb(236, 7, 7);

    
   }

button[value="submit"]:hover{
    background-color: rgb(229, 255, 0);
   }

button[value="btnn"]:hover{

    background-color: rgb(60, 255, 0);
   }

button {

    padding:8px;
    border:55px;
     background-color:#9a50df;
    /*color: linear-gradient(135deg , #ebdc0d, #9b59b6); */
    font-weight:500; 
    align-items:center;
    height:5%;
    font-weight: bold;
    cursor: pointer;
    border-radius:8px;
    width:31%;
    box-shadow: 3px 1px 10px rgb(0, 0, 0);
  }

  button[id="clear"]:hover{
    font-family: 'Montserrat', sans-serif; 
    background-color: #db1515;
   }
   button[id ="submit"]:hover{
    font-family: 'Montserrat', sans-serif; 
    background-color: #213d16;
   }
   
   button[id = "btnn"]:hover{
    font-family: 'Montserrat', sans-serif; 
    background-color: #82d7e2;
   }

   .invalid { border-color: red; }
  #error2, #error1,#error,#error3,#error4,#error5,#error6 { color: red;
    border-color: red;
font-size: 14px }



   #m, #f, #o{
    font-size: 15px;
    font-weight: normal;
   }

#m5,#m6,#m7,#m8{
    font-size: 15px;
    font-weight: normal;
    
}

 .user-title{
    border: solid black 2px;
 }

 